body {
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}
.grid-container {
  display: grid;
  padding: 1em 5em;
  grid-gap 1em;
  grid-template-columns: 1fr;
}
.grid-item {
  padding: 3.9em 1em;
  text-align: center;
}
.a {
  background-color: #439bd1;
  color: #ebebeb;
}
.b {
  background-color: #1d6cb5;
  color: #ebebeb;
}
.c {
  background-color: #322185;
  color: #ebebeb;
}
.d {
  background-color: #333333;
  color: #ebebeb;
}
.e {
  background-color: #ebebeb;
  color: #333333;
}
