body {
  background-color: #ebebeb;
}
.parent {
  display: flex;
  justify-content: center;
}
.a {
  background-color: #439bd1;
  color: #439bd1;
}
.b {
  background-color: #1d6cb5;
  color: #1d6cb5;
}
.c {
  background-color: #322185;
  color: #322185;
}
article {
  background-color: #333333;
  color: #333333;
  text-align: center;
}
